@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for the 'Expertise' and 'Experience' sections if needed */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}